/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Középre igazítás */
  background-color: #2d3b50;
  padding: 10px 20px;
  color: #e0e0e0;
  position: relative;
}

/* Navbar Title */
.navbar-title {
  font-size: 1.8rem;
  color: #ff79c6;
  
}
.navbar-links li:last-child {
  border-bottom: none; /* Az utolsó elemnél nincs vonal */
}
/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  align-items: center; /* Középre igazítás */
  gap: 15px;
  margin: 0;
  padding: 0;
}

/* Navbar Links (Szöveges gombok) */
.navbar-links li {
  font-size: 1.2rem;
  display: flex;
  align-items: center; /* Gombokat középre rendezi */
}

.navbar-links a {
  color: #e0e0e0; /* Szöveg színe */
  font-size: 1.2rem; /* Szövegméret növelése */
  font-weight: bold; /* Félkövér szöveg */
  transition: color 0.3s ease-in-out;

}
.navbar-links a:hover {
  color: #50fa7b;
}

/* Hamburger Menu */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none; /* Hidden on desktop */
  color: #e0e0e0;
}

/* Mobile Menu */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    flex-direction: column;
    background-color: #2d3b50; /* Háttérszín */
    text-align: center;
    z-index: 1000; /* Előtérbe helyezés */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék hozzáadása */

  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2d3b50;
    text-align: center;
    padding: 15px 0;
  }

  /* A menü megnyitott állapotának módosítása */
  .navbar-links.open {
    display: flex;
    flex-direction: column; /* Ez biztosítja, hogy a menüelemek oszlopban jelenjenek meg */
    z-index: 1000; /* Ez biztosítja, hogy a menü felül legyen */
    animation: slideDown 0.3s ease-in-out; /* Lenyíló animáció */

  }

  .navbar-links li {
    padding: 10px 0;
  }
}

/* Status Icon (Profile Button) */
.status-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s;
}

.status-icon img:hover {
  transform: scale(1.1);
}
/* Lenyíló animáció */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Fentről indul */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Alaphelyzetben áll meg */
  }
}