/* ProgramList.css */

/* Általános stílusok */
.program-list-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .title {
    font-size: 2rem;
    color: #4A90E2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Betöltési állapot */
  .loading,
  .empty {
    text-align: center;
    font-size: 1.5rem;
    color: #888;
  }
  
  /* Program kártyák elrendezése */
  .program-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Kártya stílusok */
  .program-card {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .program-image {
    width: 100%;
    height: auto;
  }
  
  .program-name {
    font-size: 1.5rem;
    color: #333;
  }
  
  .program-description,
  .program-duration,
  .program-location,
  .program-cost {
    font-size: 1rem;
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  